

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Drilon Zekaj - Optika Syri</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png" />
    <link rel="stylesheet" href="vendor/chartist/css/chartist.min.css" />
    <link
      href="vendor/bootstrap-select/dist/css/bootstrap-select.min.css"
      rel="stylesheet"
    />
    <link href="vendor/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
      <!--**********************************
            Nav header start
        ***********************************-->
      <div class="nav-header">
        <a href="index.html" class="brand-logo">
          <img class="logo-abbr" src="./images/Optika-Syri.jpg" alt="" />
          <img class="logo-compact" src="./images/logo-text.png" alt="" />
          
        </a>

        <div class="nav-control">
          <div class="hamburger">
            <span class="line"></span><span class="line"></span
            ><span class="line"></span>
          </div>
        </div>
      </div>
      <!--**********************************
            Nav header end
        ***********************************-->

      <!--**********************************
            Chat box start
        ***********************************-->
      <div class="chatbox">
        <div class="chatbox-close"></div>
        <div class="custom-tab-1">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#notes">Notes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#alerts">Alerts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#chat">Chat</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade active show" id="chat" role="tabpanel">
              <div class="card mb-sm-3 mb-md-0 contacts_card dz-chat-user-box">
                <div class="card-header chat-list-header text-center">
                  <a href="javascript:void(0)"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="18px"
                      height="18px"
                      viewBox="0 0 24 24"
                      version="1.1"
                    >
                      <g
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <rect
                          fill="#000000"
                          x="4"
                          y="11"
                          width="16"
                          height="2"
                          rx="1"
                        />
                        <rect
                          fill="#000000"
                          opacity="0.3"
                          transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) "
                          x="4"
                          y="11"
                          width="16"
                          height="2"
                          rx="1"
                        />
                      </g></svg
                  ></a>
                  <div>
                    <h6 class="mb-1">Chat List</h6>
                    <p class="mb-0">Show All</p>
                  </div>
                  <a href="javascript:void(0)"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="18px"
                      height="18px"
                      viewBox="0 0 24 24"
                      version="1.1"
                    >
                      <g
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <rect x="0" y="0" width="24" height="24" />
                        <circle fill="#000000" cx="5" cy="12" r="2" />
                        <circle fill="#000000" cx="12" cy="12" r="2" />
                        <circle fill="#000000" cx="19" cy="12" r="2" />
                      </g></svg
                  ></a>
                </div>
                <div
                  class="card-body contacts_body p-0 dz-scroll"
                  id="DZ_W_Contacts_Body"
                >
                  <ul class="contacts">
                    <li class="name-first-letter">A</li>
                    <li class="active dz-chat-user">
                      <div class="d-flex bd-highlight">
                        <div class="img_cont">
                          <img
                            src="images/avatar/1.jpg"
                            class="rounded-circle user_img"
                            alt=""
                          />
                          <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                          <span>Archie Parker</span>
                          <p>Kalid is online</p>
                        </div>
                      </div>
                    </li>
                    <li class="dz-chat-user">
                      <div class="d-flex bd-highlight">
                        <div class="img_cont">
                          <img
                            src="images/avatar/2.jpg"
                            class="rounded-circle user_img"
                            alt=""
                          />
                          <span class="online_icon offline"></span>
                        </div>
                        <div class="user_info">
                          <span>Alfie Mason</span>
                          <p>Taherah left 7 mins ago</p>
                        </div>
                      </div>
                    </li>
                    <li class="dz-chat-user">
                      <div class="d-flex bd-highlight">
                        <div class="img_cont">
                          <img
                            src="images/avatar/3.jpg"
                            class="rounded-circle user_img"
                            alt=""
                          />
                          <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                          <span>AharlieKane</span>
                          <p>Sami is online</p>
                        </div>
                      </div>
                    </li>
                    <li class="dz-chat-user">
                      <div class="d-flex bd-highlight">
                        <div class="img_cont">
                          <img
                            src="images/avatar/4.jpg"
                            class="rounded-circle user_img"
                            alt=""
                          />
                          <span class="online_icon offline"></span>
                        </div>
                        <div class="user_info">
                          <span>Athan Jacoby</span>
                          <p>Nargis left 30 mins ago</p>
                        </div>
                      </div>
                    </li>
                    <li class="name-first-letter">B</li>
                    <li class="dz-chat-user">
                      <div class="d-flex bd-highlight">
                        <div class="img_cont">
                          <img
                            src="images/avatar/5.jpg"
                            class="rounded-circle user_img"
                            alt=""
                          />
                          <span class="online_icon offline"></span>
                        </div>
                        <div class="user_info">
                          <span>Bashid Samim</span>
                          <p>Rashid left 50 mins ago</p>
                        </div>
                      </div>
                    </li>
                    <li class="dz-chat-user">
                      <div class="d-flex bd-highlight">
                        <div class="img_cont">
                          <img
                            src="images/avatar/1.jpg"
                            class="rounded-circle user_img"
                            alt=""
                          />
                          <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                          <span>Breddie Ronan</span>
                          <p>Kalid is online</p>
                        </div>
                      </div>
                    </li>
                    <li class="dz-chat-user">
                      <div class="d-flex bd-highlight">
                        <div class="img_cont">
                          <img
                            src="images/avatar/2.jpg"
                            class="rounded-circle user_img"
                            alt=""
                          />
                          <span class="online_icon offline"></span>
                        </div>
                        <div class="user_info">
                          <span>Ceorge Carson</span>
                          <p>Taherah left 7 mins ago</p>
                        </div>
                      </div>
                    </li>
                    <li class="name-first-letter">D</li>
                    <li class="dz-chat-user">
                      <div class="d-flex bd-highlight">
                        <div class="img_cont">
                          <img
                            src="images/avatar/3.jpg"
                            class="rounded-circle user_img"
                            alt=""
                          />
                          <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                          <span>Darry Parker</span>
                          <p>Sami is online</p>
                        </div>
                      </div>
                    </li>
                    <li class="dz-chat-user">
                      <div class="d-flex bd-highlight">
                        <div class="img_cont">
                          <img
                            src="images/avatar/4.jpg"
                            class="rounded-circle user_img"
                            alt=""
                          />
                          <span class="online_icon offline"></span>
                        </div>
                        <div class="user_info">
                          <span>Denry Hunter</span>
                          <p>Nargis left 30 mins ago</p>
                        </div>
                      </div>
                    </li>
                    <li class="name-first-letter">J</li>
                    <li class="dz-chat-user">
                      <div class="d-flex bd-highlight">
                        <div class="img_cont">
                          <img
                            src="images/avatar/5.jpg"
                            class="rounded-circle user_img"
                            alt=""
                          />
                          <span class="online_icon offline"></span>
                        </div>
                        <div class="user_info">
                          <span>Jack Ronan</span>
                          <p>Rashid left 50 mins ago</p>
                        </div>
                      </div>
                    </li>
                    <li class="dz-chat-user">
                      <div class="d-flex bd-highlight">
                        <div class="img_cont">
                          <img
                            src="images/avatar/1.jpg"
                            class="rounded-circle user_img"
                            alt=""
                          />
                          <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                          <span>Jacob Tucker</span>
                          <p>Kalid is online</p>
                        </div>
                      </div>
                    </li>
                    <li class="dz-chat-user">
                      <div class="d-flex bd-highlight">
                        <div class="img_cont">
                          <img
                            src="images/avatar/2.jpg"
                            class="rounded-circle user_img"
                            alt=""
                          />
                          <span class="online_icon offline"></span>
                        </div>
                        <div class="user_info">
                          <span>James Logan</span>
                          <p>Taherah left 7 mins ago</p>
                        </div>
                      </div>
                    </li>
                    <li class="dz-chat-user">
                      <div class="d-flex bd-highlight">
                        <div class="img_cont">
                          <img
                            src="images/avatar/3.jpg"
                            class="rounded-circle user_img"
                            alt=""
                          />
                          <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                          <span>Joshua Weston</span>
                          <p>Sami is online</p>
                        </div>
                      </div>
                    </li>
                    <li class="name-first-letter">O</li>
                    <li class="dz-chat-user">
                      <div class="d-flex bd-highlight">
                        <div class="img_cont">
                          <img
                            src="images/avatar/4.jpg"
                            class="rounded-circle user_img"
                            alt=""
                          />
                          <span class="online_icon offline"></span>
                        </div>
                        <div class="user_info">
                          <span>Oliver Acker</span>
                          <p>Nargis left 30 mins ago</p>
                        </div>
                      </div>
                    </li>
                    <li class="dz-chat-user">
                      <div class="d-flex bd-highlight">
                        <div class="img_cont">
                          <img
                            src="images/avatar/5.jpg"
                            class="rounded-circle user_img"
                            alt=""
                          />
                          <span class="online_icon offline"></span>
                        </div>
                        <div class="user_info">
                          <span>Oscar Weston</span>
                          <p>Rashid left 50 mins ago</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card chat dz-chat-history-box d-none">
                <div class="card-header chat-list-header text-center">
                  <a href="javascript:void(0)" class="dz-chat-history-back">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="18px"
                      height="18px"
                      viewBox="0 0 24 24"
                      version="1.1"
                    >
                      <g
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <rect
                          fill="#000000"
                          opacity="0.3"
                          transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000) "
                          x="14"
                          y="7"
                          width="2"
                          height="10"
                          rx="1"
                        />
                        <path
                          d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z"
                          fill="#000000"
                          fill-rule="nonzero"
                          transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997) "
                        />
                      </g>
                    </svg>
                  </a>
                  <div>
                    <h6 class="mb-1">Chat with Khelesh</h6>
                    <p class="mb-0 text-success">Online</p>
                  </div>
                  <div class="dropdown">
                    <a href="javascript:void(0)" data-toggle="dropdown"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="18px"
                        height="18px"
                        viewBox="0 0 24 24"
                        version="1.1"
                      >
                        <g
                          stroke="none"
                          stroke-width="1"
                          fill="none"
                          fill-rule="evenodd"
                        >
                          <rect x="0" y="0" width="24" height="24" />
                          <circle fill="#000000" cx="5" cy="12" r="2" />
                          <circle fill="#000000" cx="12" cy="12" r="2" />
                          <circle fill="#000000" cx="19" cy="12" r="2" />
                        </g></svg
                    ></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li class="dropdown-item">
                        <i class="fa fa-user-circle text-primary mr-2"></i> View
                        profile
                      </li>
                      <li class="dropdown-item">
                        <i class="fa fa-users text-primary mr-2"></i> Add to
                        close friends
                      </li>
                      <li class="dropdown-item">
                        <i class="fa fa-plus text-primary mr-2"></i> Add to
                        group
                      </li>
                      <li class="dropdown-item">
                        <i class="fa fa-ban text-primary mr-2"></i> Block
                      </li>
                    </ul>
                  </div>
                </div>
                <div
                  class="card-body msg_card_body dz-scroll"
                  id="DZ_W_Contacts_Body3"
                >
                  <div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg">
                      <img
                        src="images/avatar/1.jpg"
                        class="rounded-circle user_img_msg"
                        alt=""
                      />
                    </div>
                    <div class="msg_cotainer">
                      Hi, how are you samim?
                      <span class="msg_time">8:40 AM, Today</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                      Hi Khalid i am good tnx how about you?
                      <span class="msg_time_send">8:55 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                      <img
                        src="images/avatar/2.jpg"
                        class="rounded-circle user_img_msg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg">
                      <img
                        src="images/avatar/1.jpg"
                        class="rounded-circle user_img_msg"
                        alt=""
                      />
                    </div>
                    <div class="msg_cotainer">
                      I am good too, thank you for your chat template
                      <span class="msg_time">9:00 AM, Today</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                      You are welcome
                      <span class="msg_time_send">9:05 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                      <img
                        src="images/avatar/2.jpg"
                        class="rounded-circle user_img_msg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg">
                      <img
                        src="images/avatar/1.jpg"
                        class="rounded-circle user_img_msg"
                        alt=""
                      />
                    </div>
                    <div class="msg_cotainer">
                      I am looking for your next templates
                      <span class="msg_time">9:07 AM, Today</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                      Ok, thank you have a good day
                      <span class="msg_time_send">9:10 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                      <img
                        src="images/avatar/2.jpg"
                        class="rounded-circle user_img_msg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg">
                      <img
                        src="images/avatar/1.jpg"
                        class="rounded-circle user_img_msg"
                        alt=""
                      />
                    </div>
                    <div class="msg_cotainer">
                      Bye, see you
                      <span class="msg_time">9:12 AM, Today</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg">
                      <img
                        src="images/avatar/1.jpg"
                        class="rounded-circle user_img_msg"
                        alt=""
                      />
                    </div>
                    <div class="msg_cotainer">
                      Hi, how are you samim?
                      <span class="msg_time">8:40 AM, Today</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                      Hi Khalid i am good tnx how about you?
                      <span class="msg_time_send">8:55 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                      <img
                        src="images/avatar/2.jpg"
                        class="rounded-circle user_img_msg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg">
                      <img
                        src="images/avatar/1.jpg"
                        class="rounded-circle user_img_msg"
                        alt=""
                      />
                    </div>
                    <div class="msg_cotainer">
                      I am good too, thank you for your chat template
                      <span class="msg_time">9:00 AM, Today</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                      You are welcome
                      <span class="msg_time_send">9:05 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                      <img
                        src="images/avatar/2.jpg"
                        class="rounded-circle user_img_msg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg">
                      <img
                        src="images/avatar/1.jpg"
                        class="rounded-circle user_img_msg"
                        alt=""
                      />
                    </div>
                    <div class="msg_cotainer">
                      I am looking for your next templates
                      <span class="msg_time">9:07 AM, Today</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                      Ok, thank you have a good day
                      <span class="msg_time_send">9:10 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                      <img
                        src="images/avatar/2.jpg"
                        class="rounded-circle user_img_msg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg">
                      <img
                        src="images/avatar/1.jpg"
                        class="rounded-circle user_img_msg"
                        alt=""
                      />
                    </div>
                    <div class="msg_cotainer">
                      Bye, see you
                      <span class="msg_time">9:12 AM, Today</span>
                    </div>
                  </div>
                </div>
                <div class="card-footer type_msg">
                  <div class="input-group">
                    <textarea
                      class="form-control"
                      placeholder="Type your message..."
                    ></textarea>
                    <div class="input-group-append">
                      <button type="button" class="btn btn-primary">
                        <i class="fa fa-location-arrow"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="alerts" role="tabpanel">
              <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header chat-list-header text-center">
                  <a href="javascript:void(0)"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="18px"
                      height="18px"
                      viewBox="0 0 24 24"
                      version="1.1"
                    >
                      <g
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <rect x="0" y="0" width="24" height="24" />
                        <circle fill="#000000" cx="5" cy="12" r="2" />
                        <circle fill="#000000" cx="12" cy="12" r="2" />
                        <circle fill="#000000" cx="19" cy="12" r="2" />
                      </g></svg
                  ></a>
                  <div>
                    <h6 class="mb-1">Notications</h6>
                    <p class="mb-0">Show All</p>
                  </div>
                  <a href="javascript:void(0)"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="18px"
                      height="18px"
                      viewBox="0 0 24 24"
                      version="1.1"
                    >
                      <g
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <rect x="0" y="0" width="24" height="24" />
                        <path
                          d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                          fill="#000000"
                          fill-rule="nonzero"
                          opacity="0.3"
                        />
                        <path
                          d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                          fill="#000000"
                          fill-rule="nonzero"
                        />
                      </g></svg
                  ></a>
                </div>
                <div
                  class="card-body contacts_body p-0 dz-scroll"
                  id="DZ_W_Contacts_Body1"
                >
                  <ul class="contacts">
                    <li class="name-first-letter">SEVER STATUS</li>
                    <li class="active">
                      <div class="d-flex bd-highlight">
                        <div class="img_cont primary">KK</div>
                        <div class="user_info">
                          <span>David Nester Birthday</span>
                          <p class="text-primary">Today</p>
                        </div>
                      </div>
                    </li>
                    <li class="name-first-letter">SOCIAL</li>
                    <li>
                      <div class="d-flex bd-highlight">
                        <div class="img_cont success">
                          RU<i class="icon fa-birthday-cake"></i>
                        </div>
                        <div class="user_info">
                          <span>Perfection Simplified</span>
                          <p>Jame Smith commented on your status</p>
                        </div>
                      </div>
                    </li>
                    <li class="name-first-letter">SEVER STATUS</li>
                    <li>
                      <div class="d-flex bd-highlight">
                        <div class="img_cont primary">
                          AU<i class="icon fa fa-user-plus"></i>
                        </div>
                        <div class="user_info">
                          <span>AharlieKane</span>
                          <p>Sami is online</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex bd-highlight">
                        <div class="img_cont info">
                          MO<i class="icon fa fa-user-plus"></i>
                        </div>
                        <div class="user_info">
                          <span>Athan Jacoby</span>
                          <p>Nargis left 30 mins ago</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>
            <div class="tab-pane fade" id="notes">
              <div class="card mb-sm-3 mb-md-0 note_card">
                <div class="card-header chat-list-header text-center">
                  <a href="javascript:void(0)"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="18px"
                      height="18px"
                      viewBox="0 0 24 24"
                      version="1.1"
                    >
                      <g
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <rect
                          fill="#000000"
                          x="4"
                          y="11"
                          width="16"
                          height="2"
                          rx="1"
                        />
                        <rect
                          fill="#000000"
                          opacity="0.3"
                          transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) "
                          x="4"
                          y="11"
                          width="16"
                          height="2"
                          rx="1"
                        />
                      </g></svg
                  ></a>
                  <div>
                    <h6 class="mb-1">Notes</h6>
                    <p class="mb-0">Add New Nots</p>
                  </div>
                  <a href="javascript:void(0)"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="18px"
                      height="18px"
                      viewBox="0 0 24 24"
                      version="1.1"
                    >
                      <g
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <rect x="0" y="0" width="24" height="24" />
                        <path
                          d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                          fill="#000000"
                          fill-rule="nonzero"
                          opacity="0.3"
                        />
                        <path
                          d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                          fill="#000000"
                          fill-rule="nonzero"
                        />
                      </g></svg
                  ></a>
                </div>
                <div
                  class="card-body contacts_body p-0 dz-scroll"
                  id="DZ_W_Contacts_Body2"
                >
                  <ul class="contacts">
                    <li class="active">
                      <div class="d-flex bd-highlight">
                        <div class="user_info">
                          <span>New order placed..</span>
                          <p>10 Aug 2020</p>
                        </div>
                        <div class="ml-auto">
                          <a
                            href=""
                            class="btn btn-primary btn-xs sharp mr-1"
                            ><i class="fa fa-pencil"></i
                          ></a>
                          <a
                            href="javascript:void(0)"
                            class="btn btn-danger btn-xs sharp"
                            ><i class="fa fa-trash"></i
                          ></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex bd-highlight">
                        <div class="user_info">
                          <span>Youtube, a video-sharing website..</span>
                          <p>10 Aug 2020</p>
                        </div>
                        <div class="ml-auto">
                          <a
                            href="javascript:void(0)"
                            class="btn btn-primary btn-xs sharp mr-1"
                            ><i class="fa fa-pencil"></i
                          ></a>
                          <a
                            href="javascript:void(0)"
                            class="btn btn-danger btn-xs sharp"
                            ><i class="fa fa-trash"></i
                          ></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex bd-highlight">
                        <div class="user_info">
                          <span>john just buy your product..</span>
                          <p>10 Aug 2020</p>
                        </div>
                        <div class="ml-auto">
                          <a
                            href="javascript:void(0)"
                            class="btn btn-primary btn-xs sharp mr-1"
                            ><i class="fa fa-pencil"></i
                          ></a>
                          <a
                            href="javascript:void(0)"
                            class="btn btn-danger btn-xs sharp"
                            ><i class="fa fa-trash"></i
                          ></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex bd-highlight">
                        <div class="user_info">
                          <span>Athan Jacoby</span>
                          <p>10 Aug 2020</p>
                        </div>
                        <div class="ml-auto">
                          <a
                            href="javascript:void(0)"
                            class="btn btn-primary btn-xs sharp mr-1"
                            ><i class="fa fa-pencil"></i
                          ></a>
                          <a
                            href="javascript:void(0)"
                            class="btn btn-danger btn-xs sharp"
                            ><i class="fa fa-trash"></i
                          ></a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--**********************************
            Chat box End
        ***********************************-->

      <!--**********************************
            Header start
        ***********************************-->
      <div class="header">
        <div class="header-content">
          <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
              <div class="header-left">
                <div class="dashboard_bar">Mirë se vjen, Dr.Drilon Zekaj.</div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

      <!--**********************************
            Sidebar start
        ***********************************-->
      <div class="deznav">
        <div class="deznav-scroll">
          <ul class="metismenu" id="menu">
            <li>
              <a
                class="has-arrow ai-icon"
                href="javascript:void()"
                aria-expanded="false"
              >
                <i class="flaticon-381-networking"></i>
                <span class="nav-text">Pacientët</span>
              </a>
              <ul aria-expanded="false">
                <li><a href="/patients/new">Shto Pacient</a></li>
                <li><a href="/patients/">Lista e Pacienteve</a></li>
                <li><a href="workoutplan.html">Shënime</a></li>
              </ul>
            </li>        
          </ul>
          <div class="copyright">
            <p>
              <strong>OPTIKA SYRI</strong> © 2022 Të gjitha të drejtat të rezervuara
            </p>
            <p>Made with <span class="heart" style="color:red"></span> by Digital Line</p>
          </div>
          </div>
          
        </div>
      </div>
      
      <!--**********************************
            Sidebar end
        ***********************************-->

      <!--**********************************
            Content body start
        ***********************************-->
      <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-6 col-xxl-12">
              <div class="row">
                <div class="col-sm-6">
                  <div class="card avtivity-card">
                    <div class="card-body">
                      <div class="media align-items-center">
                        <span class="activity-icon bgl-success mr-md-4 mr-3">
                          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip2)">
                            <path d="M14.6406 24.384C14.4639 24.1871 14.421 23.904 14.5305 23.6633C15.9635 20.513 14.4092 18.7501 14.564 11.6323C14.5713 11.2944 14.8346 10.9721 15.2564 10.9801C15.6201 10.987 15.905 11.2962 15.8971 11.6598C15.8902 11.9762 15.8871 12.2939 15.8875 12.6123C15.888 12.9813 16.1893 13.2826 16.5583 13.2776C17.6426 13.2628 19.752 12.9057 20.5684 10.4567L20.9744 9.23876C21.7257 6.9847 20.4421 4.55115 18.1335 3.91572L13.9816 2.77294C12.3274 2.31768 10.5363 2.94145 9.52387 4.32498C4.66826 10.9599 1.44452 18.5903 0.0754914 26.6727C-0.300767 28.8937 0.754757 31.1346 2.70222 32.2488C13.6368 38.5051 26.6023 39.1113 38.35 33.6379C39.3524 33.1709 40.0002 32.1534 40.0002 31.0457V19.1321C40.0002 18.182 39.5322 17.2976 38.7484 16.7664C34.5339 13.91 29.1672 14.2521 25.5723 18.0448C25.2519 18.3828 25.3733 18.937 25.8031 19.1166C27.4271 19.7957 28.9625 20.7823 30.2439 21.9475C30.5225 22.2008 30.542 22.6396 30.2654 22.9155C30.0143 23.1658 29.6117 23.1752 29.3485 22.9376C25.9907 19.9053 21.4511 18.5257 16.935 19.9686C16.658 20.0571 16.4725 20.3193 16.477 20.61C16.496 21.8194 16.294 22.9905 15.7421 24.2172C15.5453 24.6544 14.9607 24.7409 14.6406 24.384Z" fill="#27BC48"/>
                            </g>
                            <defs>
                            <clipPath id="clip2">
                            <rect width="40" height="40" fill="white"/>
                            </clipPath>
                            </defs>
                          </svg>
                        </span>
                        <div class="media-body">
                          <a href="/patients" style="color:black"> <p class="fs-14 mb-2">Pacientët</p></a>
                        </div>
                      </div>
                      <div class="progress" style="height:5px;">
                        <div class="progress-bar bg-success" style="width: 42%; height:5px;" role="progressbar">
                         <span class="sr-only">Kliko</span></a>
                        </div>
                      </div>
                    </div>
                    <div class="effect bg-success"></div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card avtivity-card">
                    <div class="card-body">
                      <div class="media align-items-center">
                        <span class="activity-icon bgl-secondary mr-md-4 mr-3">
                          <img src="./icons/feather/home.svg" alt="">
                        </span>
                        <div class="media-body">
                          <p class="fs-14 mb-2">Pacientēt</p>
                          <a href="/patients/new"><span class="title text-black font-w600">Shto Pacient</span></a>
                        </div>
                      </div>
                      <div class="progress" style="height: 5px">
                        <div
                          class="progress-bar bg-secondary"
                          style="width: 82%; height: 5px"
                          role="progressbar"
                        >
                          <span class="sr-only"></span>
                        </div>
                      </div>
                    </div>
                    <div class="effect bg-secondary"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--**********************************
            Content body end
        ***********************************-->

      <!--**********************************
            Footer start
        ***********************************-->
      <div class="footer">
        <div class="copyright">
          <p>
            <strong>OPTIKA SYRI</strong> © 2022 Të gjitha të drejtat të
            rezervuara
          </p>
          <p>
            Made with <span class="heart" style="color: red"></span> by
            Digital Line
          </p>
        </div>
      </div>
      <!--**********************************
            Footer end
        ***********************************-->

      <!--**********************************
           Support ticket button start
        ***********************************-->

      <!--**********************************
           Support ticket button end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="./vendor/global/global.min.js"></script>
    <script src="./vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="./vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="./js/custom.min.js"></script>
    <script src="./js/deznav-init.js"></script>
    <script src="./vendor/owl-carousel/owl.carousel.js"></script>

    <!-- Chart piety plugin files -->
    <script src="./vendor/peity/jquery.peity.min.js"></script>

    <!-- Apex Chart -->
    <script src="./vendor/apexchart/apexchart.js"></script>

    <!-- Dashboard 1 -->
    <script src="./js/dashboard/dashboard-1.js"></script>
    <script>
      function carouselReview() {
        /*  testimonial one function by = owl.carousel.js */
        jQuery(".testimonial-one").owlCarousel({
          loop: true,
          autoplay: true,
          margin: 30,
          nav: false,
          dots: false,
          left: true,
          navText: [
            '<i class="fa fa-chevron-left" aria-hidden="true"></i>',
            '<i class="fa fa-chevron-right" aria-hidden="true"></i>',
          ],
          responsive: {
            0: {
              items: 1,
            },
            484: {
              items: 2,
            },
            882: {
              items: 3,
            },
            1200: {
              items: 2,
            },

            1540: {
              items: 3,
            },
            1740: {
              items: 4,
            },
          },
        });
      }
      jQuery(window).on("load", function () {
        setTimeout(function () {
          carouselReview();
        }, 1000);
      });
    </script>
  </body>
</html>
